<configuration>
    <appSettings>
        <add key="webPages:Version" value="3.0.0"/>
        <add key="webpages:Enabled" value="true" />
    </appSettings>
    <system.webServer>
        <security>
            <ipSecurity allowUnlisted="false">
                <clear/> 
                <add ipAddress="192.168.2.206" allowed="true"/> 
            </ipSecurity>
        </security>
    </system.webServer>
</configuration>